appnope 
asttokens 
bcrypt 
blinker 
Bottleneck 
brotlicffi 
certifi 
cffi 
charset-normalizer 
click 
comm 
cryptography 
debugpy 
decorator 
dnspython 
exceptiongroup 
executing 
Flask 
Flask-Login 
gunicorn 
idna 
importlib_metadata 
ipykernel 
ipython 
ipython_pygments_lexers 
itsdangerous 
jedi 
Jinja2 
joblib 
jupyter_client 
jupyter_core 
MarkupSafe 
matplotlib-inline 
nest_asyncio 
numexpr 
numpy 
packaging 
pandas 
parso 
pexpect 
pickleshare 
platformdirs 
prompt_toolkit 
psutil 
ptyprocess 
pure_eval 
pycparser 
Pygments 
pymongo 
PySocks 
python-dateutil 
python-dotenv 
pytz 
pyzmq 
requests 
scikit-learn 
scipy 
six 
stack_data 
threadpoolctl 
tornado 
traitlets 
typing_extensions 
tzdata 
urllib3 
wcwidth 
Werkzeug 
xgboost 
zipp 
