<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account - FreshCast</title>
    <link rel="stylesheet" href="../static/css/register.css" />
  </head>
  <body>
    <div class="overlay">
      <div class="content">
        <header>
          <nav>
            <div style="font-weight: bold; font-size: 18px">🔺 FreshCast</div>
          </nav>
        </header>
        <div class="form-container">
          <div class="form-box">
            <h2>Start your free trial</h2>
            <form action="{{ url_for('register') }}" method='POST'>
              <input type="text" placeholder="Full name" name=name required />
              <input type="email" placeholder="Email" name=email required />
              <input type="password" placeholder="Password" name=password required />
              <button type="submit">Create account</button>
            </form>
            <div class="agreement">Already a User? <a href="{{ url_for('login') }}">Login Here</a></div>
            <div class="agreement">
              By signing up, you agree to our
              <a href="#">Terms of Service</a> and
              <a href="#">Privacy Policy</a>.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
